/* Author: Will Inglis*/
/* Date Created: April 22nd, 2023 */

/* Add some style to the navigation bar */
/* nav bar */
body {
	padding: 0;
	margin: 0;
}

nav {
	position: fixed; 
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color: lightslategray; /*Refresh Blue*/
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 26px;
  color: #f9fbfc;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display:block;
	padding: .5em;
	font-size: 18px;
	font-weight: 300;
  color: #f9fbfc;
	text-decoration: none;
}

/* Change background colour when hovering over link */
nav .links a:hover {
  background-color: #292b2b;
  border-radius: 5px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	position: absolute;
	display: none;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}


nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
  display: block;
}


/* Define the animation */
  @keyframes colorchange {
    0% {background-color: greenyellow;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    75% {background-color: cyan;}
    100% {background-color: blueviolet;}
  }

/*Media query will give a tailored experience to different devices */

@media screen and (max-width: 1200px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links{
		float: none;
		position:fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}
	nav .links a{
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}

/* DROPDOWN MENU */

.services {
position: relative;
}

/* Dropdown content (hidden by default)*/
.dropdown-content {
  display: none;
  position: fixed;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li + li {
margin-top: 16px;
}

.dropdown-content li {
padding: 0.5em 1em;
width: 8em;
text-align: center;
}

.dropdown-content li:hover {
background-color: #000000;
}

.services:hover .dropdown-content {
display: block;
}

/*RESPONSIVE NAVBAR MENU*/

/* End of Nav Bar*/	

/* Start of Banner*/
.container {
	position: relative;
	margin-top: 50px;
}
.container img{
  display: block;
  width: 100%;
}
/* End of banner*/

/* Main Content */
html, body {
  background: black;
  /* Font source: https://fonts.google.com/specimen/Roboto */
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  height: 100%;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}

main{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 15%;
  padding-right: 15%;
}
/* To make sure headers do not get covered by bar */
@media (max-width: 1000px) {
main {
  padding-top: 105px;
}
}
section{
  padding-bottom: 20px;
}
h1{
  color: gold;
  font-weight: 500;
  font-size: 2.2em;
}
h2{
  color: blueviolet;
  font-weight: 100;
  font-size: 1.8em;
}
h3 {
  color: #394352;
  font-weight: 500;
  font-size: 1.3em;
}
p {
  color: #ffffff;
  line-height: 1.5;
  font-weight: 300;

}

#mainTitle {
  color: #fff;
  font-weight: 300;
  font-size: 2.5em;

}
  /* Footer */
  footer {
    background-color: #111212; /*Refresh Black*/
    position: absolute;
    text-align: center;
    width: 100%;
}
#footer {
    color: #f9fbfc;
    font-size: 0.8em;
}

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .responsive{
    max-width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* End Footer */

